{% extends "base.html.twig" %}

    {% block body %}
    {% include "menu.html.twig" %}
    <br> {{ page }} <br>
    {# <button>
        <a class="lien" href="{{ path('index_categories_creation') }}">Création des catégories</a>
    </button>
    <button>
        <a class="lien" href="{{ path('index_articles_creation') }}">Création des articles</a>
    </button>
    <button>
        <a class="lien" href="{{ path('index_auteurs_creation') }}">Création des auteurs</a>
    </button>
    <button>
        <a class="lien" href="{{ path('index_utilisateurs_creation') }}">Création des utilisateurs</a>
    </button> #}
    {% endblock %}