{% extends 'base.html.twig' %}

{% block title %}Création des utilisateurs{% endblock %}

{% block body %}
<h1>Nouveaux utilisateurs</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Date de naissance</th>
            <th>Adresse</th>
            <th>Email</th>
            <th>Login</th>
            <th>Rôle</th>
        </tr>
    </thead>
    <tbody>
      
        <tr>
            <td>{{ utilisateur.id }}</td>
            <td>{{ utilisateur.nom }}</td>
            <td>{{ utilisateur.prenom }}</td>
            <td>{{ utilisateur.naissance| date() }}</td>
            <td>{{ utilisateur.adresse }}</td>
            <td>{{ utilisateur.email }}</td>
            <td>{{ utilisateur.login }}</td>
            <td>{{ utilisateur.role }}</td>
        </tr>
     
    </tbody>
</table>
{% endblock %}