{% extends 'base.html.twig' %}

{% block title %}Articles
{% endblock %}

{% block body %}
{% include "admin_menu.html.twig" %}
<div class="mt-5">
	<button class="rounded-full py-3 px-6 bg-green-600">
		<a class="lien" href="{{ path('index_articles_formulaire') }}">Ecriré un nouvel article</a>
	</button>


	<div class="mt-5">
		<h1 class="text-4xl text-center text-green-600 font-bold">ARTICLES</h1>

		<table class="table-fixed w-full border-separate  mt-5">
			<thead class="bg-green-500 text-white">
				<tr>
					<th class="">Id</th>
					<th class="">Articles</th>
					<th class="">Résumé</th>
					<th class="">Catégorie</th>
					<th class="">Afficher</th>
					<th class="">Modifier</th>
					<th class="">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
				<tr>
					<td class="">{{ article.id }}</td>
					<td class="">{{ article.titre }}</td>
					<td class="">{{ article.resume }}</td>
					<td class="">{{ article.categories.categories }}</td>
					<td class=" bg-green-600">
						<a class="lien" href="{{ path('index_articles_affichage',{ 'id':article.id }) }}">
							Afficher
						</a>
					</td>
					<td class=" bg-green-600">
						<a class="lien" href="{{ path('index_articles_modification',{ 'id':article.id }) }}">
							Modifier
						</a>
					</td>
					<td class=" bg-green-600">
						<a class="lien" href="{{ path('index_articles_suppression',{ 'id':article.id }) }}">
							Supprimer
						</a>
					</td>
				</tr>

				{% endfor %}

			</tbody>
		</table>
	</div>

	{% endblock %}