<a href="{{ path('index_home') }}">Accueil</a>
<a href="{{ path('index_admin') }}">Accueil Admin</a>
<a href="{{ path('index_articles') }}">Articles</a>
<a href="{{ path('index_categories') }}">Catégories</a>
<a href="{{ path('index_auteurs') }}">Auteurs</a>
<a href="{{ path('index_utilisateurs') }}">Utilisateurs</a>