{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <h1>Utilisateurs</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Naissance</th>
                <td>{{ utilisateur.naissance ? utilisateur.naissance|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td>{{ utilisateur.login }}</td>
            </tr>
            <tr>
                <th>Motdepasse</th>
                <td>{{ utilisateur.motdepasse }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ utilisateur.adresse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td>{{ utilisateur.photo }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ utilisateur.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('utilisateurs_crud_index') }}">back to list</a>

    <a href="{{ path('utilisateurs_crud_edit', {'id': utilisateur.id}) }}">edit</a>

    {{ include('utilisateurs_crud/_delete_form.html.twig') }}
{% endblock %}
