{% extends 'admin_base.html.twig' %}

{% block title %}Article index{% endblock %}

{% block body %}
{% block header %}
{% include "admin_menu.html.twig" %}
{% endblock %}

{{ form(search_form) }}

{{ form(search_form) }}


{# If asticles fulltext search is run #}
{% if articles_search %}
    <div>
        <a class="btn btn-primary" href="{{ path('article_index') }}">Retour aux articles</a>
        {% if articles_search|length > 1  %}
        {{ articles_search|length}} articles trouvés sur {{ articles|length}}
        {% else %}
        {{ articles_search| length}} article trouvé sur {{ articles|length}} 
        {% endif %}
       
        <div class="row">
            {% for article in articles_search %}
            <div class="col m-1">
                <div class="card" style="width: 18rem;">
                    <!-- <img src="..." class="card-img-top" alt="..."> -->
                    <img class="card-img-top" src="{{ vich_uploader_asset(article,'imageFile') }}"  alt="{{ article.title }}">
                    <div class="card-body">
                        <h5 class="card-title text-truncate"> {{ article.title }} </h5>
                        <p> {{ article.datetime ? article.datetime|date('Y-m-d H:i:s') : '' }} </p>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a class="btn btn-primary" href="{{ path('article_show', {'slug': article.slug}) }}">Lire l'article</a>
                        <a class="btn btn-primary" href="{{ path('article_edit', {'id': article.id}) }}">Modifier
                            l'article</a>
                    </div>
                </div>
            </div>
            {% else %}
        Pas de résultat
        {% endfor %}
    </div>

{# Else asticles fulltext search is not run #}
{% else %}
<div>
    <a class="btn btn-primary m-3" href="{{ path('article_new') }}">Ecrire un nouvel article</a>
    <h1 class="text-center m-3"> {{ articles| length }} Articles</h1>
    {% if articles_page|length > 1  %}
    {{ articles_page|length}} articles sur cette page
    {% else %}
    {{ articles_page| length}} article cette page
    {% endif %}
    <div class="row">
        {% for article in articles_page %}
        <div class="col m-1">
            <div class="card" style="width: 18rem;">
               {#} <img class="card-img-top" src="{{ vich_uploader_asset(article,'imageFile')|imagine_filter('medium') }}"  alt="{{ article.title }}"#}
               
                <div class="card-body">
                    <h5 class="card-title text-truncate"> {{ article.title }} </h5>
                    <p> {{ article.datetime ? article.datetime|date('Y-m-d H:i:s') : '' }} </p>
                    <p class="card-text text-truncate"> {{ article.content }} </p>
                    <a class="btn btn-primary" href="{{ path('article_show', {'slug': article.slug}) }}">Lire l'article</a>
                    <a class="btn btn-primary" href="{{ path('article_edit', {'id': article.id}) }}">Modifier
                        l'article</a>
                </div>
            </div>
        </div>
        {% else %}
    Pas de résultat
    </div>  
    {% endfor %}
    {{ knp_pagination_render(articles_page) }}
</div>
{% endif %}
{% endblock %}