{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
{% include "admin_menu.html.twig" %}

<h1> {{ article.title }} </h1>
<div>
      <img src="{{ vich_uploader_asset(article,'imageFile')|imagine_filter('thumb') }}"  alt="{{ article.title }}">
</div>
<div>{{ article.category.label }}</div>
<div>{{ article.content }}</div>
<div>{{ article.datetime ? article.datetime|date('Y-m-d H:i:s') : '' }}</div>


<a href="{{ path('article_index') }}">back to list</a>

<a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

{{ include('article/_delete_form.html.twig') }}

{{ article.comment | length }} commentaires
{% for comment in article.comment %}
<div class="border p-2 bg-success d-flex justify-content m-4">
    <p class="d-flex justify-content"> {{ comment.datetime | date() }} <br> {{ comment.content }} </p>
</div>
{% endfor %}
{% endblock %}